@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind colors;

body {
  color: #e2e8f0; // Slate 200
  background-color: #0f172a; // Slate 900
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
